<% provide(:title, "Payslips") %>

  <div class="col-md-6" style="border:1px dotted gray; padding:20px">

    <h2><%= t(:Payslip_management) %></h2>

    <%= form_tag("/payslips/process", method: "post") do %>

      Process a payslip for: <%= collection_select(:employee, :id, @employees, :id, :full_name, {:prompt => "Select an employee..."}) %>

    <%= submit_tag("Submit") %>
    <% end %>

  </div>

