<ul class="list-inline">
  <li>
    <%= link_to "< #{period.previous.l_name}",
                "#{path}?period=#{period.previous}" %>
  </li>
  <% unless defined? last_period and period == last_period %>
      <li>
        <%= link_to "#{period.next.l_name} >",
                    "#{path}?period=#{period.next}" %>
      </li>
  <% end %>
</ul>
