<% provide :title,  t(:Loans) %>

<h1><%= t(:Editing_loan) %></h1>

<%= form_for(@loan) do |form| %>
  <%= render 'form', form: form, loan: @loan %>
<% end %>

<%= link_to t(:Back), employee_loans_path(@employee), class: 'btn btn-default' %>
