@import "bootstrap-sprockets";
@import "bootstrap";

$sil-blue: rgb(0, 104, 166);

// Header

.nav{
  a{
    font-size: larger;
    margin-top: 15px;
  }
}

img#site-logo {
  float: left;
}
.site-title {
  font-size: xx-large;
  margin-top: 10px;
  padding-left: 25px;
}

.site-subtitle {
  font-size: x-large;
  margin-top: 12px;
}

// Dashboard

ul#link-list {
  li {
    padding-bottom: 8px;
    a {
      font-size: x-large;
    }
    a:hover {
      color: $sil-blue;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

ul.feed {
  li {
    padding-bottom: 15px;
  }
}

//Forms

#error-explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

form#search-form {
  padding-top: 20px;
  input[type=text] {
    width: 300px;
  }
}

form.form-inline {
  div.form-group {
    padding-right: 15px;
  }
  button {
    margin-right: 15px;
  }
}

.form-control-inline {
  width: auto;
  display: inline-block;
}

form.inline-fields {
  input {
    display: inline-block;
    width: auto;
  }
}

form.auto-width {
  input {
    width: auto;
  }
  select {
    width: auto;
  }
}

//Tables

.hours-table {
  border: 1px solid #ddd;

  th, td {
    border-top: none !important;
    border-left: 1px solid #ddd;
  }
}