@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

$sil-blue: rgb(0, 104, 166);

// Header

.nav{
  a{
    font-size: larger;
    margin-top: 15px;
  }
}

img#site-logo {
  float: left;
}
.site-title {
  font-size: xx-large;
  margin-top: 10px;
  padding-left: 25px;
}

.site-subtitle {
  font-size: x-large;
  margin-top: 12px;
}

// Dashboard

ul#link-list {
  li {
    padding-bottom: 8px;
    a {
      font-size: x-large;
    }
    a:hover {
      color: $sil-blue;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

ul.feed {
  li {
    padding-bottom: 15px;
  }
}

.btn-w-marge {
  margin-bottom: 15px;
}

//Forms

div.error-explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

div.field_with_errors {
  display: inline-block;
}

form#search-form {
  padding-top: 20px;
  input[type=text] {
    width: 300px;
  }
}

form.form-inline {
  div.form-group {
    padding-right: 15px;
  }
  button {
    margin-right: 15px;
  }
}

div.form-group-inline {
  display: inline-block;
  margin-right: 20px;
}

.form-control-inline {
  width: auto;
  display: inline-block;
}

.inline-fields {
  input {
    display: inline-block;
    width: auto;
  }
  select {
    display: inline-block;
    width: auto;
  }
}

form.auto-width {
  input {
    width: auto;
  }
  select {
    width: auto;
  }
}

.tabbed {
  padding-left: 30px;
}

//Tables

.hours-table {
  border: 1px solid #ddd;

  th, td {
    border-top: none !important;
    border-left: 1px solid #ddd;
  }
}

table.no-border{
  td {
    border-top: none !important;
  }
}


//Payslips

.thicker {
  background-color: #000000;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 1px
}

table.payslip tr td:nth-child(2) {
  text-align: right
}
